<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <style>
    nav{
        box-shadow: 
        10px 8px 6px 0 rgba(0,0,0,0.2),
         10px 16px 24px 0 rgba(0,0,0,0.19);
    }

        nav ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #000000;
    }
    nav ul li{
        float: left;
    }
    nav ul li a{
        display: inline-block;
        color: antiquewhite;
        padding: 15px;
        text-decoration: none;
    }
    nav ul li a:hover{
        background-color: #555555;
        color: antiquewhite;
    }
    .active{
        background-color: rgb(255, 102, 0);
    }

    h1{
        text-align: center;
        margin: 30px;
    }

    
    </style>
</head>